.Launches {
  min-height: 860px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  &_Title {
    color: #02008d;
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: fantasy;
  }
  &_Warning{
    color: #a00000;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: fantasy;
    margin-top: 32px;
  }
}
